<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.epapa_coli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPAPACOLI">
        <activity
            android:name=".Lista_medidores"
            android:exported="false" />
        <activity
            android:name=".AsigMedidor"
            android:exported="true" />
        <activity
            android:name=".Localizacion"
            android:exported="true" />
        <activity
            android:name=".AsignacionMedidor"
            android:exported="true" />
        <activity
            android:name=".RegistroMedidor"
            android:exported="true" />
        <activity
            android:name=".ListaMedidor"
            android:exported="true" />
        <activity
            android:name=".Ubicacion"
            android:exported="true" />
        <activity
            android:name=".Registro_Lectura"
            android:exported="true" />
        <activity
            android:name=".Registro_Cliente"
            android:exported="true" />
        <activity
            android:name=".HomeAdmin"
            android:exported="true" />
        <activity
            android:name=".CardPago"
            android:exported="true" />
        <activity
            android:name=".updateUser"
            android:exported="true" />
        <activity
            android:name=".vistaUsuario"
            android:exported="true" />
        <activity
            android:name=".DetallePago"
            android:exported="true" />
        <activity
            android:name=".UpdatePasswordCode"
            android:exported="true" />
        <activity
            android:name=".RegisterCode"
            android:exported="true" />
        <activity
            android:name=".RegisterUsers"
            android:exported="true" />
        <activity
            android:name=".Confirm.ConfirmUpdatePassword"
            android:exported="true" />
        <activity
            android:name=".UpdatePassword"
            android:exported="true" />
        <activity
            android:name=".HomeUser"
            android:exported="true"
            android:label="@string/title_activity_home_user" />
        <activity
            android:name=".PinCodeVerify"
            android:exported="true" />
        <activity
            android:name=".VerifyCedula"
            android:exported="true" />
        <activity
            android:name=".VerifyCode"
            android:exported="true" />
        <activity
            android:name=".VerifySession"
            android:exported="true" />
        <activity
            android:name=".ResetPassword"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC1Bdt_EFbnG7rmAWxFsepFMhFI-zA6MK0" />
    </application>

</manifest>